@font-face {
  font-family: "InstructureIcons-Solid";
  src: url('InstructureIcons-Solid.eot');
  src: url('InstructureIcons-Solid.eot?#iefix') format('eot'),
    url('InstructureIcons-Solid.woff') format('woff'),
    url('InstructureIcons-Solid.ttf') format('truetype'),
    url('InstructureIcons-Solid.svg#InstructureIcons-Solid') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-solid:before {
  display: inline-block;
  font-family: "InstructureIcons-Solid";
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-solid-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-solid-2x { font-size: 2em; }
.icon-solid-3x { font-size: 3em; }
.icon-solid-4x { font-size: 4em; }
.icon-solid-5x { font-size: 5em; }
.icon-solid-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-solid-add:before { content: "\EA01" }
.icon-solid-address-book:before { content: "\EA02" }
.icon-solid-admin:before { content: "\EA03" }
.icon-solid-alerts:before { content: "\EA04" }
.icon-solid-analytics:before { content: "\EA05" }
.icon-solid-android:before { content: "\EA06" }
.icon-solid-annotate:before { content: "\EA07" }
.icon-solid-announcement:before { content: "\EA08" }
.icon-solid-apple:before { content: "\EA09" }
.icon-solid-arrow-down:before { content: "\EA0A" }
.icon-solid-arrow-left:before { content: "\EA0B" }
.icon-solid-arrow-open-down:before { content: "\EA0C" }
.icon-solid-arrow-open-left:before { content: "\EA0D" }
.icon-solid-arrow-open-right:before { content: "\EA0E" }
.icon-solid-arrow-open-up:before { content: "\EA0F" }
.icon-solid-arrow-right:before { content: "\EA10" }
.icon-solid-arrow-up:before { content: "\EA11" }
.icon-solid-assignment:before { content: "\EA12" }
.icon-solid-audio:before { content: "\EA13" }
.icon-solid-bank:before { content: "\EA14" }
.icon-solid-blueprint-lock:before { content: "\EA15" }
.icon-solid-blueprint:before { content: "\EA16" }
.icon-solid-bold:before { content: "\EA17" }
.icon-solid-bookmark:before { content: "\EA18" }
.icon-solid-box:before { content: "\EA19" }
.icon-solid-bullet-list:before { content: "\EA1A" }
.icon-solid-calendar-add:before { content: "\EA1B" }
.icon-solid-calendar-clock:before { content: "\EA1C" }
.icon-solid-calendar-day:before { content: "\EA1D" }
.icon-solid-calendar-days:before { content: "\EA1E" }
.icon-solid-calendar-month:before { content: "\EA1F" }
.icon-solid-calendar-reserved:before { content: "\EA20" }
.icon-solid-chat:before { content: "\EA21" }
.icon-solid-check-dark:before { content: "\EA22" }
.icon-solid-check-mark:before { content: "\EA23" }
.icon-solid-check-plus:before { content: "\EA24" }
.icon-solid-check:before { content: "\EA25" }
.icon-solid-clear-text-formatting:before { content: "\EA26" }
.icon-solid-clock:before { content: "\EA27" }
.icon-solid-cloud-download:before { content: "\EA28" }
.icon-solid-cloud-lock:before { content: "\EA29" }
.icon-solid-collapse:before { content: "\EA2A" }
.icon-solid-collection-save:before { content: "\EA2B" }
.icon-solid-collection:before { content: "\EA2C" }
.icon-solid-commons:before { content: "\EA2D" }
.icon-solid-complete:before { content: "\EA2E" }
.icon-solid-compose:before { content: "\EA2F" }
.icon-solid-copy-course:before { content: "\EA30" }
.icon-solid-copy:before { content: "\EA31" }
.icon-solid-courses:before { content: "\EA32" }
.icon-solid-dashboard:before { content: "\EA33" }
.icon-solid-deactivate-user:before { content: "\EA34" }
.icon-solid-discussion-check:before { content: "\EA35" }
.icon-solid-discussion-new:before { content: "\EA36" }
.icon-solid-discussion-reply-2:before { content: "\EA37" }
.icon-solid-discussion-reply-dark:before { content: "\EA38" }
.icon-solid-discussion-reply:before { content: "\EA39" }
.icon-solid-discussion-search:before { content: "\EA3A" }
.icon-solid-discussion-x:before { content: "\EA3B" }
.icon-solid-discussion:before { content: "\EA3C" }
.icon-solid-document:before { content: "\EA3D" }
.icon-solid-download:before { content: "\EA3E" }
.icon-solid-drag-handle:before { content: "\EA3F" }
.icon-solid-drop-down:before { content: "\EA40" }
.icon-solid-edit:before { content: "\EA41" }
.icon-solid-educators:before { content: "\EA42" }
.icon-solid-email:before { content: "\EA43" }
.icon-solid-empty:before { content: "\EA44" }
.icon-solid-end:before { content: "\EA45" }
.icon-solid-equation:before { content: "\EA46" }
.icon-solid-equella:before { content: "\EA47" }
.icon-solid-essay:before { content: "\EA48" }
.icon-solid-expand-items:before { content: "\EA49" }
.icon-solid-expand-left:before { content: "\EA4A" }
.icon-solid-expand:before { content: "\EA4B" }
.icon-solid-export-content:before { content: "\EA4C" }
.icon-solid-export:before { content: "\EA4D" }
.icon-solid-external-link:before { content: "\EA4E" }
.icon-solid-eye:before { content: "\EA4F" }
.icon-solid-facebook-boxed:before { content: "\EA50" }
.icon-solid-facebook:before { content: "\EA51" }
.icon-solid-fast-forward:before { content: "\EA52" }
.icon-solid-feedback:before { content: "\EA53" }
.icon-solid-file-locked:before { content: "\EA54" }
.icon-solid-files-copyright:before { content: "\EA55" }
.icon-solid-files-creative-commons:before { content: "\EA56" }
.icon-solid-files-fair-use:before { content: "\EA57" }
.icon-solid-files-obtained-permission:before { content: "\EA58" }
.icon-solid-files-public-domain:before { content: "\EA59" }
.icon-solid-filmstrip:before { content: "\EA5A" }
.icon-solid-flag:before { content: "\EA5B" }
.icon-solid-folder-locked:before { content: "\EA5C" }
.icon-solid-folder:before { content: "\EA5D" }
.icon-solid-forward:before { content: "\EA5E" }
.icon-solid-github:before { content: "\EA5F" }
.icon-solid-gradebook-export:before { content: "\EA60" }
.icon-solid-gradebook-import:before { content: "\EA61" }
.icon-solid-gradebook:before { content: "\EA62" }
.icon-solid-group-dark-new:before { content: "\EA63" }
.icon-solid-group-new:before { content: "\EA64" }
.icon-solid-group:before { content: "\EA65" }
.icon-solid-hamburger:before { content: "\EA66" }
.icon-solid-heart:before { content: "\EA67" }
.icon-solid-highlighter:before { content: "\EA68" }
.icon-solid-home:before { content: "\EA69" }
.icon-solid-hour-glass:before { content: "\EA6A" }
.icon-solid-image:before { content: "\EA6B" }
.icon-solid-import-content:before { content: "\EA6C" }
.icon-solid-import:before { content: "\EA6D" }
.icon-solid-inbox:before { content: "\EA6E" }
.icon-solid-indent-2:before { content: "\EA6F" }
.icon-solid-indent:before { content: "\EA70" }
.icon-solid-info:before { content: "\EA71" }
.icon-solid-instructure:before { content: "\EA72" }
.icon-solid-integrations:before { content: "\EA73" }
.icon-solid-invitation:before { content: "\EA74" }
.icon-solid-italic:before { content: "\EA75" }
.icon-solid-keyboard-shortcuts:before { content: "\EA76" }
.icon-solid-launch:before { content: "\EA77" }
.icon-solid-life-preserver:before { content: "\EA78" }
.icon-solid-like:before { content: "\EA79" }
.icon-solid-link:before { content: "\EA7A" }
.icon-solid-linkedin:before { content: "\EA7B" }
.icon-solid-lock:before { content: "\EA7C" }
.icon-solid-lti:before { content: "\EA7D" }
.icon-solid-mark-as-read:before { content: "\EA7E" }
.icon-solid-marker:before { content: "\EA7F" }
.icon-solid-masquerade:before { content: "\EA80" }
.icon-solid-mastery-paths:before { content: "\EA81" }
.icon-solid-materials-required-light:before { content: "\EA82" }
.icon-solid-materials-required:before { content: "\EA83" }
.icon-solid-mature-light:before { content: "\EA84" }
.icon-solid-mature:before { content: "\EA85" }
.icon-solid-media:before { content: "\EA86" }
.icon-solid-message:before { content: "\EA87" }
.icon-solid-mini-arrow-down:before { content: "\EA88" }
.icon-solid-mini-arrow-left:before { content: "\EA89" }
.icon-solid-mini-arrow-right:before { content: "\EA8A" }
.icon-solid-mini-arrow-up:before { content: "\EA8B" }
.icon-solid-minimize:before { content: "\EA8C" }
.icon-solid-module:before { content: "\EA8D" }
.icon-solid-more:before { content: "\EA8E" }
.icon-solid-move-down-bottom:before { content: "\EA8F" }
.icon-solid-move-down:before { content: "\EA90" }
.icon-solid-move-left:before { content: "\EA91" }
.icon-solid-move-right:before { content: "\EA92" }
.icon-solid-move-up-top:before { content: "\EA93" }
.icon-solid-move-up:before { content: "\EA94" }
.icon-solid-ms-excel:before { content: "\EA95" }
.icon-solid-ms-ppt:before { content: "\EA96" }
.icon-solid-ms-word:before { content: "\EA97" }
.icon-solid-muted:before { content: "\EA98" }
.icon-solid-next-unread:before { content: "\EA99" }
.icon-solid-not-graded:before { content: "\EA9A" }
.icon-solid-note-dark:before { content: "\EA9B" }
.icon-solid-note-light:before { content: "\EA9C" }
.icon-solid-note:before { content: "\EA9D" }
.icon-solid-numbered-list:before { content: "\EA9E" }
.icon-solid-off:before { content: "\EA9F" }
.icon-solid-open-folder:before { content: "\EAA0" }
.icon-solid-outcomes:before { content: "\EAA1" }
.icon-solid-outdent:before { content: "\EAA2" }
.icon-solid-outdent2:before { content: "\EAA3" }
.icon-solid-page-down:before { content: "\EAA4" }
.icon-solid-page-up:before { content: "\EAA5" }
.icon-solid-paint:before { content: "\EAA6" }
.icon-solid-paperclip:before { content: "\EAA7" }
.icon-solid-partial:before { content: "\EAA8" }
.icon-solid-pause:before { content: "\EAA9" }
.icon-solid-pdf:before { content: "\EAAA" }
.icon-solid-peer-graded:before { content: "\EAAB" }
.icon-solid-peer-review:before { content: "\EAAC" }
.icon-solid-pin:before { content: "\EAAD" }
.icon-solid-pinterest:before { content: "\EAAE" }
.icon-solid-play:before { content: "\EAAF" }
.icon-solid-plus:before { content: "\EAB0" }
.icon-solid-post-to-sis:before { content: "\EAB1" }
.icon-solid-prerequisite:before { content: "\EAB2" }
.icon-solid-printer:before { content: "\EAB3" }
.icon-solid-publish:before { content: "\EAB4" }
.icon-solid-question:before { content: "\EAB5" }
.icon-solid-quiz-stats-avg:before { content: "\EAB6" }
.icon-solid-quiz-stats-cronbachs-alpha:before { content: "\EAB7" }
.icon-solid-quiz-stats-deviation:before { content: "\EAB8" }
.icon-solid-quiz-stats-high:before { content: "\EAB9" }
.icon-solid-quiz-stats-low:before { content: "\EABA" }
.icon-solid-quiz-stats-time:before { content: "\EABB" }
.icon-solid-quiz:before { content: "\EABC" }
.icon-solid-refresh:before { content: "\EABD" }
.icon-solid-remove-bookmark:before { content: "\EABE" }
.icon-solid-remove-from-collection:before { content: "\EABF" }
.icon-solid-remove-link:before { content: "\EAC0" }
.icon-solid-replied:before { content: "\EAC1" }
.icon-solid-reply-2:before { content: "\EAC2" }
.icon-solid-reply-all-2:before { content: "\EAC3" }
.icon-solid-reply:before { content: "\EAC4" }
.icon-solid-reset:before { content: "\EAC5" }
.icon-solid-rewind:before { content: "\EAC6" }
.icon-solid-rss-add:before { content: "\EAC7" }
.icon-solid-rss:before { content: "\EAC8" }
.icon-solid-rubric-dark:before { content: "\EAC9" }
.icon-solid-rubric:before { content: "\EACA" }
.icon-solid-save:before { content: "\EACB" }
.icon-solid-search-address-book:before { content: "\EACC" }
.icon-solid-search:before { content: "\EACD" }
.icon-solid-settings-2:before { content: "\EACE" }
.icon-solid-settings:before { content: "\EACF" }
.icon-solid-shape-oval:before { content: "\EAD0" }
.icon-solid-shape-polygon:before { content: "\EAD1" }
.icon-solid-shape-rectangle:before { content: "\EAD2" }
.icon-solid-sis-imported:before { content: "\EAD3" }
.icon-solid-sis-not-synced:before { content: "\EAD4" }
.icon-solid-sis-synced:before { content: "\EAD5" }
.icon-solid-skype:before { content: "\EAD6" }
.icon-solid-speed-grader:before { content: "\EAD7" }
.icon-solid-standards:before { content: "\EAD8" }
.icon-solid-star-light:before { content: "\EAD9" }
.icon-solid-star:before { content: "\EADA" }
.icon-solid-stats:before { content: "\EADB" }
.icon-solid-stop:before { content: "\EADC" }
.icon-solid-strikethrough:before { content: "\EADD" }
.icon-solid-student-view:before { content: "\EADE" }
.icon-solid-syllabus:before { content: "\EADF" }
.icon-solid-table:before { content: "\EAE0" }
.icon-solid-tag:before { content: "\EAE1" }
.icon-solid-target:before { content: "\EAE2" }
.icon-solid-text-background-color:before { content: "\EAE3" }
.icon-solid-text-centered:before { content: "\EAE4" }
.icon-solid-text-color:before { content: "\EAE5" }
.icon-solid-text-left:before { content: "\EAE6" }
.icon-solid-text-right:before { content: "\EAE7" }
.icon-solid-text-subscript:before { content: "\EAE8" }
.icon-solid-text-superscript:before { content: "\EAE9" }
.icon-solid-text:before { content: "\EAEA" }
.icon-solid-textarea:before { content: "\EAEB" }
.icon-solid-timer:before { content: "\EAEC" }
.icon-solid-toggle-left:before { content: "\EAED" }
.icon-solid-toggle-right:before { content: "\EAEE" }
.icon-solid-trash:before { content: "\EAEF" }
.icon-solid-trouble:before { content: "\EAF0" }
.icon-solid-twitter-boxed:before { content: "\EAF1" }
.icon-solid-twitter:before { content: "\EAF2" }
.icon-solid-underline:before { content: "\EAF3" }
.icon-solid-unlock:before { content: "\EAF4" }
.icon-solid-unmuted:before { content: "\EAF5" }
.icon-solid-unpublish:before { content: "\EAF6" }
.icon-solid-unpublished:before { content: "\EAF7" }
.icon-solid-updown:before { content: "\EAF8" }
.icon-solid-upload:before { content: "\EAF9" }
.icon-solid-user-add:before { content: "\EAFA" }
.icon-solid-user:before { content: "\EAFB" }
.icon-solid-video:before { content: "\EAFC" }
.icon-solid-warning:before { content: "\EAFD" }
.icon-solid-windows:before { content: "\EAFE" }
.icon-solid-wordpress:before { content: "\EAFF" }
.icon-solid-x:before { content: "\EB00" }
.icon-solid-zipped:before { content: "\EB01" }
.icon-solid-zoom-in:before { content: "\EB02" }
.icon-solid-zoom-out:before { content: "\EB03" }
